In [2]:
import csv


# writer example 
with open('grid.csv', 'w') as fout:
    foo_writer = csv.writer(foo)
    foo_writer.writerow("A B C D".split())
    for i in range(10):
        foo_writer.writerow("A{i} B{i} C{i} D{i}".format(i=i).split()))

filename = 'food-carbon-footprint.csv'
# reader example
with open('grid.csv') as fin: 
    reader = csv.reader(fin)
    
    # this is how you can grab the first header row out of a csv
    header_row = next(reader)
    
    for row in foo_reader:
        print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'foo.csv'

In [2]:
import pandas as pd
df = pd.read_html('http://www.greeneatz.com/foods-carbon-footprint.html', header=0)[0]
df.to_csv('food-carbon-footprint.csv')
df

    Rank        Food  CO2 Kilos Equivalent  Car Miles Equivalent
0      1        Lamb                  39.2                  91.0
1      2        Beef                  27.0                  63.0
2      3      Cheese                  13.5                  31.0
3      4        Pork                  12.1                  28.0
4      5      Turkey                  10.9                  25.0
5      6     Chicken                   6.9                  16.0
6      7        Tuna                   6.1                  14.0
7      8        Eggs                   4.8                  11.0
8      9    Potatoes                   2.9                   7.0
9     10        Rice                   2.7                   6.0
10    11        Nuts                   2.3                   5.0
11    12  Beans/tofu                   2.0                   4.5
12    13  Vegetables                   2.0                   4.5
13    14        Milk                   1.9                   4.0
14    15       Fruit                   1.1                   2.5
15    16     Lentils                   0.9                   2.0

In [4]:
df.mean()
for i, row in df.iterrows():
    print(row)

Rank                       1
Food                    Lamb
CO2 Kilos Equivalent    39.2
Car Miles Equivalent      91
Name: 0, dtype: object
Rank                       2
Food                    Beef
CO2 Kilos Equivalent      27
Car Miles Equivalent      63
Name: 1, dtype: object
Rank                         3
Food                    Cheese
CO2 Kilos Equivalent      13.5
Car Miles Equivalent        31
Name: 2, dtype: object
Rank                       4
Food                    Pork
CO2 Kilos Equivalent    12.1
Car Miles Equivalent      28
Name: 3, dtype: object
Rank                         5
Food                    Turkey
CO2 Kilos Equivalent      10.9
Car Miles Equivalent        25
Name: 4, dtype: object
Rank                          6
Food                    Chicken
CO2 Kilos Equivalent        6.9
Car Miles Equivalent         16
Name: 5, dtype: object
Rank                       7
Food                    Tuna
CO2 Kilos Equivalent     6.1
Car Miles Equivalent      14
Name: 6, dtype: object
Rank                       8
Food                    Eggs
CO2 Kilos Equivalent     4.8
Car Miles Equivalent      11
Name: 7, dtype: object
Rank                           9
Food                    Potatoes
CO2 Kilos Equivalent         2.9
Car Miles Equivalent           7
Name: 8, dtype: object
Rank                      10
Food                    Rice
CO2 Kilos Equivalent     2.7
Car Miles Equivalent       6
Name: 9, dtype: object
Rank                      11
Food                    Nuts
CO2 Kilos Equivalent     2.3
Car Miles Equivalent       5
Name: 10, dtype: object
Rank                            12
Food                    Beans/tofu
CO2 Kilos Equivalent             2
Car Miles Equivalent           4.5
Name: 11, dtype: object
Rank                            13
Food                    Vegetables
CO2 Kilos Equivalent             2
Car Miles Equivalent           4.5
Name: 12, dtype: object
Rank                      14
Food                    Milk
CO2 Kilos Equivalent     1.9
Car Miles Equivalent       4
Name: 13, dtype: object
Rank                       15
Food                    Fruit
CO2 Kilos Equivalent      1.1
Car Miles Equivalent      2.5
Name: 14, dtype: object
Rank                         16
Food                    Lentils
CO2 Kilos Equivalent        0.9
Car Miles Equivalent          2
Name: 15, dtype: object